body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(147, 219, 147);
}

header, footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 1em;
}

header {
    background-color: #e0f7fa; /* Green background for the header */
}

nav {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

section {
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    background-color: #fff; /* Ocean blue background color */
    border-radius: 10px; /* Added border-radius for better styling */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box-shadow for better visibility */
    color: black; /* White text color for paragraphs */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p, ul li {
    font-size: 1.2em;
    margin-bottom: 1em;
}

#site-name {
    color: rgb(76, 76, 238);
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.first-image, .degree-image {
    width: 100%; /* Ensures the image scales with the width of the container */
    max-width: 600px; /* Sets a maximum width to keep the image readable */
    height: auto; /* Maintains the aspect ratio */
    display: block;
    margin: 10px auto; /* Centers the image */
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.image-gallery img {
    width: calc(50% - 20px);
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .image-gallery img {
        width: 100%;
    }
}

#sidemap{
    color: rgb(0, 255, 170);
    font-size: 20px;
}